<br>
<%if p.length>0%>
<div class="table-responsive">

    <table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
        <thead>
            <tr>
                <th class="text-center">Cédula</th>
                <th class="text-center">Nombre Completo</th>
                <th class="text-center">Fecha de nacimiento</th>
                <th class="text-center">Municipio</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Solicitudes</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <% @personas.each do |persona| %>
            <tr>
                <td><%= $dic["tipo_de_cedula"].key(persona.tipo_de_cedula).to_s + "-" + persona.cedula.to_s %></td>
                <td class="text-capitalize text-center"><%= persona.nombres.downcase + " " +persona.apellidos.downcase %></td>
                <td class="text-center"><%= persona.fecha_de_nacimiento %></td>
                <td class="text-center"><%= $dic["municipios"].key(persona.municipios) %></td>
                <td class="text-capitalize"><%= persona.direccion.downcase%></td>
                <td class="text-center"><%= persona.telefono %></td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                        <%= link_to raw('<i class="fa fa-plus"></i>'), new_persona_solicitud_path(persona),class:"btn btn-default" %>
                        <%= link_to raw('<i class="fa fa-eye"></i>'), persona_solicituds_path(persona),class:"btn btn-success","data-toggle": "tooltip", "data-placement": "top", title: "Ver más" %></div>
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                        <%= link_to raw('<i class="fa fa-eye"></i>'), persona,class:"btn btn-success","data-toggle": "tooltip", "data-placement": "top", title: "Ver más" %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_persona_path(persona),class:"btn btn-info","data-toggle": "tooltip", "data-placement": "top", title: "Editar elemento" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%else%>
<div class="text-center">
    <h4>"No hay personas con esta cédula."</h4>
    <a href="<%= new_persona_path+" ?cedula="+params[:search]%>" class="btn btn-default">Agregar persona</a>
</div>
<%end%>
