

<p>
  <strong>Ayuda:</strong>
  <%= @solicitud.ayuda %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @solicitud.persona %>
</p>

<p>
  <strong>Status:</strong>
  <%= @solicitud.status %>
</p>

<%= link_to 'Edit', edit_persona_solicitud_path(@solicitud.persona,@solicitud),class:"btn btn-default"  %> |
<%= link_to raw('<i class="fa fa-arrow-left"></i> Regresar'), persona_solicituds_path,class:"btn btn-default"  %>
