<p id="notice"><%= notice %></p>

<p>
  <strong>Ayuda:</strong>
  <%= @solicitud.ayuda %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @solicitud.persona %>
</p>

<p>
  <strong>Status:</strong>
  <%= @solicitud.status %>
</p>

<%= link_to 'Edit', edit_persona_solicitud_path(@solicitud.persona,@solicitud) %> |
<%= link_to 'Back', persona_solicituds_path %>
