<div class="col-md-12 page-header">
    <div class="pull-right">
        <%= link_to raw('<i class="fa fa-plus"></i> Nuevo Oficio'), new_oficio_path,class:"btn btn-default"  %>
    </div>
    <h1>
        <i class="fa fa-hand-o-right"></i>
        Oficios</h1>
</div>
<div class="col-md-12 text-center">
    <%= will_paginate @oficios, renderer: BootstrapPagination::Rails%>
</div>

<ul class="list-group">
    <li class="list-group-item text-muted col-md-12" contenteditable="false">
        <i class="fa fa-hand-o-right"></i>
        Lista de oficios</li>
    <li class="list-group-item  col-md-12">
        <%

      if @oficios.length>0%>
        <div class="table-responsive">

            <table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
              <thead>
                  <tr>
                      <th class="text-center" style="width:15%">Institucion</th>
                      <th class="text-center">Descripcion</th>
                      <th class="text-center" style="width:10%">Fecha de emisión</th>
                      <th class="text-center" style="width:10%">Fecha de entrega</th>
                      <th class="text-center" style="width:10%">Hora</th>
                  </tr>
              </thead>

                <tbody>
                    <% @oficios.each do |oficio| %>
                    <tr>
                        <td style="width:15%"><%= oficio.institucion.upcase%></td>
                        <td><%= oficio.descripcion%></td>
                        <td class="text-center" style="width:10%"><%= oficio.fecha_de_emision.strftime("%d-%m-%Y")  %>
                        </td>
                        <td class="text-center" style="width:10%"><%= oficio.created_at.strftime("%d-%m-%Y") %>
                        </td>
                        <td class="text-center" style="width:10%"><%=  oficio.created_at.strftime("%H:%M") %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="col-md-12 text-center">
                <%= will_paginate  p, renderer: BootstrapPagination::Rails%>
            </div>
        </div>

        <%else%>
        <div class="text-center">
            <h4>"No hay Oficios"</h4>

        </div>
        <%end%>

    </li>
</ul>
