<%= simple_form_for(ayuda) do |f| %>
  <% if ayuda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ayuda.errors.count, "error") %> prohibited this ayuda from being saved:</h2>

      <ul>
      <% ayuda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :nombre %>
    <%= f.association :departamento, :label_method => lambda { |owner| "#{owner.nombre}" }   %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
