

<div class="col-md-12 page-header">
  <div class="pull-right">

    <%= link_to raw('<i class="fa fa-plus"></i> Nuevo Requerimiento'), new_ayuda_path,class: "btn btn-default" %>
  </div>
  <h1><i class="fa fa-check-circle-o"></i> Requerimientos</h1>
</div>
<div class="col-md-12 text-center">
  <%= will_paginate  @ayudas, renderer: BootstrapPagination::Rails%>
</div>
<ul class="list-group">
      <li class="list-group-item text-muted col-md-12" contenteditable="false">Lista de requerimiento</li>
      <li class="list-group-item col-md-12">
<table class="table table-responsive table-hover table-condensed" style="font-size:11px;">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>DEPARTAMENTO</th>
      <th width="200px"  class="text-center">ACCIONES</th>
    </tr>
  </thead>

  <tbody>
    <% @ayudas.each do |ayuda| %>
      <tr>
        <td><%= ayuda.nombre %></td>
        <td><%= ayuda.departamento.nombre %></td>
        <td class="text-center">
          <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">

        <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_ayuda_path(ayuda),class:"btn btn-info" ,"data-toggle": "tooltip", "data-placement": "top", title: "Editar elemento"%>
</div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
</li></ul>
<div class="col-md-12 text-center">
  <%= will_paginate  @ayudas, renderer: BootstrapPagination::Rails%>
</div>
<br>
