<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="pull-right">

    <%= link_to 'Nueva Ayuda', new_ayuda_path,class: "btn btn-default" %>
  </div>
  <h1>Ayudas</h1>
</div>

<table class="table table-responsive table-hover table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th width="200px"  class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @ayudas.each do |ayuda| %>
      <tr>
        <td><%= ayuda.nombre %></td>
        <td><%= ayuda.departamento.nombre %></td>
        <td class="text-center">
        <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_ayuda_path(ayuda),class:"btn btn-info" %>
        <%= link_to raw('<i class="fa fa-trash-o"></i>'), ayuda, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
